.newsapi_image {
    object-fit: cover;
    height: 100px;
    width: 100px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.newsapi_round_border {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid white;
}

.newsapi_round_border_qr {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: white;
    border: 1px solid white;
}

div.newsapi_round_border_qr canvas {
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.newsapi_image_icon {
    height: 35px;
    width: 35px;
    margin-top: -12px;
    vertical-align: top;
}

.newsapi_source {
    font-family: serif;
}

td.newsapi_td {
    width: 122px;
}
td.newsapi_td_icon {
    width: 40px;
}
